@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap');








body{
    margin: 0;
        
}


.fwd{
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    font-family: "Roboto Mono"
    
}

/* home-section */
.home-bg{ 
    background-image: url("../images/Bg-Tinkerop.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 20px 190px;
    text-align: right;
}

.home-bg h1{
    font-size: 3.1rem;
    padding-right: 1em;
    padding-top: 5em;
}
.home-bg p{
    margin-bottom: 1.5em;
    padding-right: 3.1em;
}



.about-bg{

     background-image: url("../images/girl doodle.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 20px 60px;
    text-align: left;

}

.about-bg h1{
    font-size: 4.5em;
    padding-right: 1em;
    margin-left: 11.2em;
    font-weight: 400;
    
}

.about-bg h2{
    font-size: 3.5rem;
    padding-right: 1em;
    padding-top: 3em;
    margin-left: 14.4em;
    font-weight: 100;

}

.about-bg p{
    margin-bottom: 1.5em;
    padding-left: 30em;
    text-align: left;
    font-size: 1.7em;
    padding-bottom: 0;
}

.about-bg button{
    margin-left: 51em;
}

/* carousel-title*/

.c-title{
    text-align: right;
    padding-left: 25px;
    padding-right: 1em;
    margin-bottom: 2em;
}
.c-title h1{
    margin-top: 2em;
    margin-left: 0em;
    padding: 0;
    font-size: 3.5em;
    
}
.c-title h6{
    font-size: 1.5em;
    opacity: 0.5;
    padding-right: .5em;
    height: auto;
}

.con-count{
    background-color: #0060FF;
   border-radius: 6px;
    color: white;
    margin-left: 10px;
    margin-top: 8em;
}
.con-count h6{
    padding-left: 10px;

}







/* Buttons */

.btnss{
    padding-right: 4em;
  
}

.button-y {
  background-color: #FFD537; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none; 
  margin: 0.5em;
}


.button-b{
    background-color: #0060FF; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;

}


.top-btn-bl{
      background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 1em;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
}





hr.style-four {
    height: 13px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}






.contact-bg{

  align-items: center;
  text-align: center;

}

.contact-bg h1{
  padding-top: 2em;
  padding-bottom: 2em;
}



footer{
  padding-top: 1em;
  padding-bottom: 2em;
}


























/*responsive crap*/
@media only screen and (max-width: 600px) {
  /* home-section */
.home-bg{ 
    background-image: none;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 20px 190px;
    text-align: center;
}

.home-bg h1{
    font-size: 2.5rem;
    padding-right: 0.1em;
    padding-top: 7em;
}
.home-bg p{
    margin-bottom: 1.5em;
    padding-right: 0.4em;
}


.btnss{
    padding-right: 0.5em;
  
}








.about-bg{

      background-image: url("../images/girl doodle.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 97px -1px;
    text-align: left;

}

.about-bg h1{
    font-size: 3em;
    margin-left: 0.1em;
     padding-right: 1px;
     padding-bottom: 0.5em;
 
    
}

.about-bg h2{
    padding-top: 10em;
    font-size: 1.8em;
    margin-left: 0.3em;

    
    font-weight: 100;

}

.about-bg p{
    margin-left: -29.5em;
    font-size: 1.4em;
    text-align: left
    padding-left:0;
    padding-right: 0px;
}

.about-bg button{
    margin-left: 0.5em;
    font-size: 1em;
    padding: 10px 15px 10px 15px;
}


.about-bg a{

  font-size: 0.7em;

}












/* carousel-title*/

.c-title{
    text-align: right;
    padding-left: 0px;
    padding-right: 0em;
    margin-bottom: 3em;
}
.c-title h1{
    margin-top:2em;
    margin-left: 0em;
    padding: 0;
    font-size: 1.5em;
    
}
.c-title h6{
    
    opacity: 0.5;
    padding-right:0;
    height: auto;
    font-size: 0.8em;
}

.con-count{
    background-color: #0060FF;
   border-radius: 6px;
    color: white;
    margin-left: 1px;
    margin-top: 3em;
}
.con-count h6{
    padding-left: 1px;
    padding-right: 2px;
    font-size: 1em;

}



}


.contact-bg{

  align-items: center;
  text-align: center;

}

.contact-bg h1{
  padding-top: 1em;
  padding-bottom: 1em;
}