@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&display=swap');


body{
  font-family: 'Roboto Mono';
  font-weight: 600;
  background-color: white!important;}
        
    
    a {
        color: #6c757d!important;
      }
    
    
    a:link {
        text-decoration: none;
        color: #6c757d!important;
      }
      a:hover {
        text-decoration: none;
      }
      